################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FilmClubManagement/FileContentIndex/0d5d1583-3624-4915-9328-94ee7172a856.vsidx
/.vs/FilmClubManagement/FileContentIndex/4c119ea3-397e-46a7-ba9d-418cd95ef8e7.vsidx
/.vs/FilmClubManagement/v17/TestStore/0/testlog.manifest
